@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Lato');
body , html {
	margin: 0 100px;

	}

section , footer {
	background-color: #E5EAEE
	}

nav {
	background-color: #003680;
	height: 48px;
	}

.logo {
	width: 30px;
	margin: 9px;


	}

.logo img {
	width: 100%;
	height: 100%;
	
	}

.title , .logo {
	display: inline-block;

	}

.title{
	vertical-align: top;

	}

.title h2 {
	color: white;
	margin-top: 7px;
	font-family: 'Source Sans Pro', sans-serif;
	}

.amsterdam , .london {
	display:  inline-block;
	margin: 34px 34px 0 34px;
	width: 43.7%;

	}

.amsterdam img , .london img {
	width: 100%;
	margin-bottom: -4px;

	}

.amsterdam .text, .london .text {
	width: 100%;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 1px 1px 1px #888888;

	}

.amsterdam .text div:first-child  , .london .text div:first-child {
	margin-bottom: 3px

	}

.amsterdam .text div  , .london .text div {
	padding-right: 10px;
	padding-left: 10px

	}

.amsterdam .text div h2 , .london .text div h2 {
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;

	}

.amsterdam .text div p , .london .text div p{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px; 
	color: #7B7B7B;
	font-family: 'Montserrat', sans-serif;

	}

.amsterdam .text div h2:first-child,
 .london .text div h2:first-child { 
	 color: #9ED7EC;
 
	}

.amsterdam .text div h2:nth-child(2),
 .london .text div h2:nth-child(2) { 
 color: #7B7B7B;
 
	}

.amsterdam .text div h2:nth-child(2),
 .london .text div h2:nth-child(2) ,
  .amsterdam .text div p:nth-child(2) ,
   .london .text div p:nth-child(2) {
		float:right;
		margin-bottom: 0px;

	}

footer {
	 padding-bottom:  20px;

	}	

footer div p {
	margin-top: 0px;
	padding-top: 24px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 28px


	}

footer div h1 {
	text-align: center;
	background-color: #21A6D3;
	width: 115px;
	margin: 0px auto;
	border-radius: 10px;
	padding: 2px 

	}



@media screen and (max-width: 1014px) {
	.amsterdam h2 , .amsterdam {

		max-width: 100%;
		
			}

	.amsterdam p {

		margin-bottom: 100px;
		max-width: 100%;

			}

	.london h2 , .london  {

		max-width: 100%

			}

	.london p {

		margin-bottom: 100px;
		max-width: 100%;

			}

	}

@media screen and (max-width: 953px) {
	html , body {

		margin:  0px;

			}

}
